.order-received-main-container {
    display: flex;
    flex-direction: column;
    background-image: repeating-radial-gradient(var(--blackColour), #0F0F0F);
    color: var(--whiteColour);
    border: solid 3px var(--greenColour);
    margin: 1%;
    margin-top: 0;
    padding: 1%;
    justify-content: space-evenly;
}


.smallprint {
    font-size: small;
    margin: 1%;
}

.order-received-top-container {
    display: flex;
    padding: 0.5%;
}

.order-received-browse-more {
    text-align: center;
    margin: 1%;
}

